apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: chaos-demo
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        chaos-mesh.org/inject: "true"
    spec:
      containers:
      - name: backend
        image: mychaos-backend:latest
        imagePullPolicy: IfNotPresent
        workingDir: /app
        command: ["python", "app.py"]
        ports:
        - containerPort: 5001
        env:
        - name: DATASERVICE_URL
          value: "http://dataservice:5002"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: chaos-demo
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5001
      targetPort: 5001
