apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: chaos-demo
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
      annotations:
        chaos-mesh.org/inject: "true"
    spec:
      containers:
      - name: frontend
        image: mychaos-frontend:latest
        imagePullPolicy: IfNotPresent
        command: ["python", "app.py"]
        ports:
        - containerPort: 5000
        env:
        - name: BACKEND_SERVICE
          value: "http://backend-service:5001"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: chaos-demo
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
